.information
  background: url('../img/contacts/contacts-bg.svg') no-repeat center center
  &__wrap
    margin: 0 auto
    text-align: center
    max-width: 780px
  &__title
    padding-top: 51px
    margin-bottom: 16px
    text-align: center
    font-family: 'Gilroy-Semibold'
    font-size: 44px
    line-height: 74px
    letter-spacing: 0.04em
    color: $white
  &__subtitle
    display: inline-block
    padding-bottom: 49px
    text-align: center
    max-width: 780px
    font-family: 'Gilroy-Regular'
    font-size: 20px
    line-height: 30px
    letter-spacing: 0.04em
    color: rgba($white, 0.6)
.connection
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 57px
    margin-bottom: 96px
    padding-left: 86px
    padding-right: 86px
  &-headers
    margin-bottom: 48px
  &-control
    margin-bottom: 32px
  &-button
    margin-top: 72px !important
    margin-bottom: 56px !important
.addres
  margin-top: 56px
  &__image
    width: 300px
    height: 181px
  &__block
    margin-bottom: 40px
  &__title
    margin-bottom: 24px
    font-family: 'Gilroy-Semibold'
    font-size: 20px
    line-height: 30px
    letter-spacing: 0.04em
    color: $titletext
  &__text, &__link
    display: inline-block
    max-width: 299px
    font-family: 'Gilroy-Light'
    font-size: 16px
    line-height: 26px
    letter-spacing: 0.04em
    color: $titletext
    opacity: 0.6
  &__link
    text-decoration: none
    margin-left: 16px
    margin-bottom: 16px
  &__wrap
    display: flex


