<div class="form__shadow">
  <div class="form__wrap">
    <div class="form__close">×</div>
    <div class="form__header">
      <h2 class="text-h2 form__h2">Send us message</h2>
    </div>
    <div class="form__body">
      <form>
        <div class="form__group">
          <label for="user-name" class="form__label">Full Name*</label>
          <input type="text" id="user-name" class="form__input" placeholder="Your Name">
        </div>
        <div class="form__group">
          <label for="user-name" class="form__label">Email*</label>
          <input type="email" id="user-email" class="form__input" placeholder="Your Email">
        </div>
        <div class="form__group">
          <label for="user-message" class="form__label">Message*</label>
          <textarea id="user-message" cols="30" rows="3" class="form__textarea form__input"
            placeholder="Your Message"></textarea>
        </div>
        <button class="btn btn__primary form__btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="form__message">
    <span class="text-h2"></span>
  </div>
</div>