.form {
  &-submit {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform ease-in 0.2s;
    transform: scale(0);
    overflow: auto;
    @media (max-height: 825px) {
      align-items: flex-start;
      padding: rem(15);
    }
    @media (max-width: 520px) {
      padding: rem(15);
    }
    &.open {
      transform: scale(1);
      z-index: 5;
    }
    &.success {
      .form__wrap {
        display: none;
      }
      .form__message {
        display: block;
      }
    }
    .load {
      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }
      &::before {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        border-radius: rem(5);
        z-index: 1;
      }
      &::after {
        left: 50%;
        top: 50%;
        width: rem(135);
        height: rem(135);
        margin-left: rem(-67.5);
        margin-top: rem(-67.5);
        background: url("../../assets/img/theme/loading.svg") no-repeat center /
          contain;
        border-radius: rem(5);
        animation: rotate 2s infinite linear;
        z-index: 2;
      }
    }
  }
  &__wrap {
    position: relative;
    width: 100%;
    max-width: rem(540);
    padding: rem(56);
    background-color: $light;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: rem(10);
    @media (max-width: 520px) {
      padding: rem(28);
    }
  }
  &__close {
    position: absolute;
    right: rem(25);
    top: rem(10);
    font-size: rem(46);
    color: $text;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
    &:hover {
      transform: rotate(-10deg);
    }
    @media (max-width: 520px) {
      right: rem(10);
      top: 0;
    }
  }
  &__header {
    margin-bottom: rem(48);
    @media (max-width: 520px) {
      margin-bottom: rem(24);
    }
  }
  &__h2 {
    margin: 0;
    font-size: rem(20);
    line-height: 150%;
    letter-spacing: 0.04em;
    color: $text;
    text-transform: uppercase;
  }
  &__group {
    display: flex;
    flex-direction: column;
    &:not(:last-of-type) {
      margin-bottom: rem(32);
      @media (max-width: 520px) {
        margin-bottom: rem(16);
      }
    }
    &:last-of-type {
      margin-bottom: rem(72);
      @media (max-width: 520px) {
        margin-bottom: rem(36);
      }
    }
    &.error {
      textarea,
      input {
        border-color: red;
      }
    }
  }
  &__label {
    margin-bottom: rem(8);
    line-height: 188%;
    letter-spacing: 0.04em;
    color: $text;
    opacity: 0.8;
  }
  &__input {
    padding: rem(21) rem(42);
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border: 1px solid #356ead;
    opacity: 0.4;
    border-radius: rem(10);
    line-height: 188%;
    letter-spacing: 0.04em;
    color: $text;
    @media (max-width: 520px) {
      padding: rem(10) rem(21);
    }
  }
  &__textarea {
    max-width: 100%;
    min-height: rem(70);
    max-height: rem(300);
  }
  &__btn {
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  &__message {
    display: none;
    width: 100%;
    max-width: rem(540);
    padding: rem(56);
    background-color: $light;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: rem(10);
    text-align: center;
  }
}
