* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Gilroy-Reg";
  font-size: 1rem;
}
body.lock-js {
  overflow: hidden;
}
.section {
  padding: 60px 0;
  @media (max-width: 767px) {
    padding: 36px 0;
  }
  &_background_primary {
    background-color: $primary;
    color: $light !important;
  }
  &_background_secondary {
    background-color: $secondary;
    color: $light !important;
  }
}
.text {
  &__uppercase {
    text-transform: uppercase;
  }
  &-h1 {
    font-family: "Galien";
    font-size: rem(64);
    line-height: 116%;
    letter-spacing: 0.04em;
    color: $text;
    @media (max-width: 960px) {
      font-size: rem(45);
    }
    @media (max-width: 400px) {
      font-size: rem(37.5);
    }
  }
  &-h2 {
    font-family: "Gilroy-Semi";
    font-size: rem(36);
    line-height: 128%;
    letter-spacing: 0.05em;
    color: $secondary;
    @media (max-width: 960px) {
      font-size: rem(30);
    }
    @media (max-width: 400px) {
      font-size: rem(27.5);
    }
  }
  &-subtitle {
    display: inline-block;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: $text;
    opacity: 0.6;
  }
  &-light {
    color: $light;
  }
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  backdrop-filter: blur(0);
  z-index: -1;
  user-select: none;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, backdrop-filter ease-in-out 0.3s;
}
.shadow.active {
  opacity: 1;
  z-index: 5;
  backdrop-filter: blur(5px);
}
