* {
  box-sizing: border-box;
}
body {
  font-family: 'Futura Book', sans-serif;
  font-size: 1rem;
}
.section {
  padding: 60px 0;
  @media (max-width: 767px) {
    padding: 36px 0;
  }
  &--dark {
    background-color: $dark;
    color: $light !important;
  }
}
.row {
  display: flex;
}
.gap-15 {
  gap: rem(15);
}
.space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt-15 {
  margin-top: rem(30);
}
.mb-17 {
  margin-bottom: rem(34);
}
.mb-31 {
  margin-bottom: rem(62);
}
.text {
  &__uppercase {
    text-transform: uppercase;
  }
  &__primary {
    color: $primary;
  }
  &__light {
    color: $light;
  }
}
