$container: 940px;
$container-fluid: 1196px;
$dark: #131313;
$black: #181818;
$light: #ffffff;
$primary: #E3B873;
$secondary: #959595;
$text: #363636;
// --------------------
// color: #1F3F68; text h1

// color: #1F3F68; text subtitle
// opacity: 0.6;

// color: #1F3F68; text subtitle in card
// opacity: 0.6;

// color: #1F3F68; text h2 in card
// $text:#1F3F68   *******************************
// --------------------------------------

// background: #5A98D0; bg button

// color: #5A98D0; text button in card

// background: #5A98D0; bg section in Our Beloved Client
// ---------------------------------------

// color: #316099; text h2

// background: #316099; gb section in footer
// -------------------------------------------

// color: #FFFFFF; text in bg not white

// color: #FFFFFF; subtitle text in bg not white
// opacity: 0.6;

// color: #FFFFFF; text in section footer 2019 © Afrianska. All rights reserved.
// opacity: 0.4;

// opacity: 0.4; line
// border: 1px solid #FFFFFF;
// $light: #ffffff;   **************
// -------------------------------------

// background: #356EAD; burger menu button
// $burger: #356EAD;