.help {
  display: block;
  padding: rem(180) 0 rem(212);
  @media (max-width: 1024px) {
    padding: rem(90) 0 rem(106);
  }
  @media (max-width: 992px) {
    padding: rem(45) 0 rem(53);
  }
  &__wrap {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 1153px;
    @media (max-width: 1024px) {
      height: 1128px;
    }
    @media (max-width: 885px) {
      display: flex;
      flex-flow: column;
      align-items: center;
      height: auto;
    }
  }
  &__item {
    margin-left: auto;
    &:not(:last-child) {
      margin-bottom: rem(100);
      @media (max-width: 1024px) {
        margin-bottom: rem(75);
      }
      @media (max-width: 885px) {
        margin-bottom: rem(50);
      }
    }
    @media (max-width: 885px) {
      margin-right: auto;
    }
  }
  &__image {
    &--pos1 img {
      width: rem(192);
      transform: translate(rem(-30), rem(50));
    }
    &--pos2 img {
      width: rem(255);
      transform: translate(rem(5), rem(-20));
    }
    &--pos3 img {
      width: rem(171);
      transform: translate(rem(-19), rem(50));
    }
  }
  &__h2 {
    max-width: rem(400);
    margin-bottom: rem(158);
    @media (max-width: 885px) {
      margin-bottom: rem(70);
    }
  }
}
